{:paths ["src/main"]

 :deps  {org.clojure/clojurescript {:mvn/version "1.11.4"}
         cljsjs/react-dom          {:mvn/version "18.0.0-rc.0-0"}}

 :aliases {:test
           {:extra-paths ["src/test"]
            :main-opts ["-m" "cljs.main"
                        "--target" "node"
                        "--output-to" "test.js"
                        "-c" "hello-world.test-runner"]}

           :compile/browser
           {:main-opts ["-m" "cljs.main"
                        "-c" "hello-world.core"]}

           :compile/node
           {:main-opts ["-m" "cljs.main"
                        "--target" "node"
                        "--output-to" "main.js"
                        "-c" "hello-world.core"]}

           :compile/prod
           {:main-opts ["-m" "cljs.main"
                        "-O" "advanced"
                        "-c" "hello-world.core"]}

           :dev/serve
           {:main-opts ["-m" "cljs.main" "--serve"]}
           
           :dev/repl
           {:main-opts ["-m" "cljs.main"
                        "-c" "hello-world.core" "-r"]}}}
